version: '3.8'

services:
  queue-worker:
    build: .
    container_name: balansity-queue-worker
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    networks:
      - default

networks:
  default:
    external: true
    name: supabase_network  # Или ваша сеть









